[submodule "a52dec"]
	path = a52dec
	url = https://github.com/gpac-buildbot/a52dec.git
[submodule "AMR_NB"]
	path = AMR_NB
	url = https://github.com/gpac-buildbot/AMR_NB.git
[submodule "AMR_NB_FT"]
	path = AMR_NB_FT
	url = https://github.com/gpac-buildbot/AMR_NB_FT.git
[submodule "libogg"]
	path = libogg
	url = https://github.com/gpac-buildbot/libogg.git
[submodule "libtheora"]
	path = libtheora
	url = https://github.com/gpac-buildbot/libtheora.git
[submodule "libvorbis"]
	path = libvorbis
	url = https://github.com/gpac-buildbot/libvorbis.git
[submodule "xvidcore"]
	path = xvidcore
	url = https://github.com/gpac-buildbot/xvidcore.git
[submodule "faad2"]
	path = faad2
	url = https://github.com/gpac-buildbot/faad2.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/gpac-buildbot/freetype.git
[submodule "js"]
	path = js
	url = https://github.com/gpac-buildbot/js.git
[submodule "libjpg"]
	path = libjpg
	url = https://github.com/gpac-buildbot/libjpg.git
[submodule "libmad"]
	path = libmad
	url = https://github.com/gpac-buildbot/libmad.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/gpac-buildbot/libpng.git
[submodule "OpenJPEG"]
	path = OpenJPEG
	url = https://github.com/gpac-buildbot/OpenJPEG.git
[submodule "opensvc"]
	path = opensvc
	url = https://github.com/gpac-buildbot/opensvc.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/gpac-buildbot/zlib.git
[submodule "PlatinumSDK"]
	path = PlatinumSDK
	url = https://github.com/gpac-buildbot/PlatinumSDK.git
[submodule "AMR_WB_FT"]
	path = AMR_WB_FT
	url = https://github.com/gpac-buildbot/AMR_WB_FT.git
